.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.user-card {
    position: absolute;
    top: 120%;
    left: -160px;
    width: 150px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease 0.1s; /* Adiciona um pequeno atraso */
    z-index: 1000;
}

.user-avatar:hover + .user-card,
.user-card:hover {
    opacity: 1;
    visibility: visible;
}

.user-card .user-details {
    margin-bottom: 5px;
}

.user-card .user-details a {
    display: block;
    text-decoration: none;
    color: #333; /* Cor padrão */
}

.user-card .user-details a.blue {
    color: blue; /* Cor azul */
}

.header-buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}

