<app-header></app-header>
<div class="container">
    <div class="linha1">
        <div class="museum-card">
            <a routerLink="/paco_duques">
                <img src="assets/paco_duques.jpeg" class="museum-image"></a>
            <div class="museum-info">
                <h2 class="museum-title">Paço dos Duques</h2>
                <p class="museum-address">R.Conde Dom Henrique<br>4800-412 Guimarães</p>
                <div class="ticket-button-container">
                    <a href="https://pacodosduques.gov.pt/planear-visita/bilhetica-horarios/" target="_blank">
                        <button class="ticket">Bilhetes</button>
                    </a>
                </div>
            </div>
        </div> 
        <div class="museum-card">
            <a routerLink="/mafra">
                <img src="assets/mafra3.jpg" class="museum-image">
            </a>
            <div class="museum-info">
                <h2 class="museum-title">Palácio Nacional de Mafra</h2>
                <p class="museum-address">Terreiro D. João V<br>2640-492 Mafra</p>
                <div class="ticket-button-container">
                    <a href="https://www.visitlisboa.com/en/places/national-palace-of-mafra" target="_blank">
                        <button class="ticket">Bilhetes</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="linha2">
        <div class="museum-card">
            <a routerLink="/biscainhos">
                <img src="assets/bisc8.jpeg" class="museum-image">
            </a>
            <div class="museum-info">
                <h2 class="museum-title">Museu dos Biscaínhos</h2>
                <p class="museum-address">Rua dos Biscainhos<br>4700–415 Braga</p>
                <div class="ticket-button-container">
                    <a href="https://museudosbiscainhos.gov.pt/planear-a-visita/bilhetica-e-horarios/" target="_blank">
                        <button class="ticket">Bilhetes</button>
                    </a>
                </div>
            </div>
        </div>
    
        <div class="museum-card">
            <a href="https://www.porsche.com/international/aboutporsche/porschemuseum/" target="_blank">
                <img src="assets/porsche.jpeg" alt="porsche" class="museum-image">
            </a>
            <div class="museum-info">
                <h2 class="museum-title">Museu da Porshe</h2>
                <p class="museum-address">Porscheplatz 1<br>70435 Stuttgart</p>
                <div class="ticket-button-container">
                    <a href="https://ticketing.porsche.com/en_US/tours" target="_blank">
                        <button class="ticket">Bilhetes</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

