<app-header></app-header>
<div class="home-section">
  <h1>Seja Bem-Vindo a Museus de Portugal</h1>
  <div class="content-section">
    <p>Bem-vindo à nossa jornada pelos tesouros culturais e históricos de Portugal!</p>
    <p>Embarque conosco em uma viagem fascinante através dos museus e monumentos que contam a história rica e diversificada deste belo país. De norte a sul, de leste a oeste, Portugal é um verdadeiro tesouro de arte, cultura e património.</p>
    <p>Descubra os segredos do passado enquanto exploramos os corredores dos museus que abrigam artefatos antigos, obras-primas renascentistas e relíquias históricas. Delicie-se com a arquitetura deslumbrante dos palácios e castelos que testemunham séculos de história e tradição.</p>
    <p>Junte-se a nós nesta jornada única para desvendar a riqueza cultural e a herança magnífica que Portugal tem para oferecer. Este é apenas o começo de uma aventura inesquecível pelos museus de Portugal!</p>
</div>  
<br>
<hr class="separator-line">
<br>
  <div class="events-section">
    <h1>Próximos Eventos</h1>
  
<br><br>
    <div class="event-images">
      <img src="assets/carrilhao.jpg">
      <img src="assets/concerto.jpg">
      <img src="assets/filosofia.jpg">
      <!-- Adicione mais imagens de eventos conforme necessário -->
    </div>
    <div class="event-description">
        <br>
        Não perca a oportunidade de participar nestes eventos incríveis! Navegue no nosso site para saber mais detalhes e como participar.
      </div>
    <hr class="separator-line">
  </div>
  <br>
<br>
  <h1>Conteúdo Informativo</h1>
  <br>
  <br>
  <div class="video-container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/EeDlIyLg_3M?si=rNmXPRQ95ebNZxRg&amp;controls=0&amp;start=50" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xOZLJYj3Ts4?si=YreMr2SArNx2uI5O" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</div>
<app-footer></app-footer>

