.home-section {
    margin-top: 150px;
    max-width: 800px;
    padding: 0 20px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
  }

  .h1-main {
    text-align: center;
  }

  .begin-page {
    margin-bottom: 100px;
  }

  .begin-page img {
    width: 900px;
    height: 500px;
  }
  
  .home-section h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .home-section p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
  }

  .home-section img {
    margin-top: 70px; /* Espaçamento entre a imagem e o título */
    display: block; /* Para garantir que a margem superior funcione corretamente */
    margin-left: auto; /* Centraliza a imagem horizontalmente */
    margin-right: auto; /* Centraliza a imagem horizontalmente */
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura máxima da home-section */
    
  }

  .separator-line {
    height: 1px;
    margin-top: 20px;
    background-color: #ccc;
  }

  .events-section {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .events-section h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }

  .event-images {
    display: flex;
    justify-content: center;
  }

  .event-images img {
    width: 300px;
    margin: 0 10px;
    transition: transform 0.2s ease-in-out;
  }

  .event-images img:hover {
    transform: scale(1.05);
  }

  .video-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  .video-container iframe {
    margin-right: 50px; /* Adiciona uma margem à direita de 20px */
}
